@import "~bootstrap/scss/bootstrap.scss";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "kanit", sans-serif;
}
:root {
  --bg_color_header: #f3f3f3;
  --bg_show_mock: linear-gradient(#f3f3f3, #cfcfcf);
}

.bg-header {
  background: var(--bg_color_header);
}
.menu_header {
  z-index: 10;
  position: fixed;
  background: var(--bg_color_header);
  top: 0;
  left: 0;
  right: 0;
  .header-show {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.bg-none {
  background: var(--bg_color_header);
  height: 126px;
}
.show-mock {
  position: relative;
  text-align: center;
  background: var(--bg_show_mock);
  min-height: 560px;

  .img-showmock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}
@include media-breakpoint-down(md) {
  .btn-back {
    position: absolute;
    left: 5px;
    top: 0;
  }
  .menu {
    display: none;
  }
  .main-logo {
    height: 60px;
    padding: 0 0 0 10px;
    cursor: pointer;
  }
  .show-mock {
    position: relative;
    text-align: center;
    background: var(--bg_show_mock);
    min-height: 175px;

    .img-showmock {
      max-height: 300px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
    }
  }
  .set-position {
    box-shadow: -1px 4px 11px 5px rgb(0 0 0 / 11%);
    right: 0;
    background: #ffffff;
    overflow: auto;
    margin-top: 20px;
    padding: 10;

    .card-expanding {
      box-shadow: -1px 4px 6px 9px rgb(0 0 0 / 11%);
      padding: 20px;
    }
  }
  .menu_mobile {
    filter: invert(1);
    .btn-mobile {
      cursor: pointer;
      height: 40px;
      width: auto;
    }
    .btn-close {
      cursor: pointer;
      height: 24px;
      width: auto;
    }
  }
  .menu_right_mobile {
    border-radius: 15px 0px 0 15px;
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    position: fixed;
    right: -1px;
    top: 15%;
    z-index: 10;
    font-size: 13px;
    img {
      width: 35px;
      height: auto;
    }
    .list_menu {
      cursor: pointer;
      background: linear-gradient(45deg, #7122ab, #572978);
      color: #fff;
      padding: 10px;
      width: 73px;
      height: 80px;
      text-align: center;
      a {
        text-decoration: none;
        color: #fff;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .active_menu_right {
      background: linear-gradient(45deg, #b98017, #f8ac22);
    }
    .list_menu:hover {
      background-color: #4e0a0a;
    }
  }
}
@include media-breakpoint-up(md) {
  .menu_right_mobile {
    display: none;
  }
  .menu_mobile {
    display: none;
  }
  .btn-back {
    position: absolute;
    left: 40px;
    top: 0;
  }
  .menu {
    .btn-landing {
      background: linear-gradient(#350974, #572978);
      color: white;
      padding: 10px !important;
      font-weight: bold;
      border-radius: 15px !important;
    }
    .btn-landing-seo {
      background: linear-gradient(#4c4c4c, #838383);
      color: white;
      padding: 10px !important;
      font-weight: bold;
      border-radius: 15px !important;
    }
    .btn-member {
      background: linear-gradient(#f39200, #ffdb77);
      color: rgb(0, 0, 0);
      font-weight: bold;
      padding: 10px !important;
      border-radius: 15px !important;
    }
    .btn-landing:hover,
    .btn-landing-seo:hover,
    .btn-member:hover {
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%) !important;
    }
    .active_menu {
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%) !important;
    }
  }
  .main-logo {
    height: 95px;
    padding: 10px;
  }
  .show-mock {
    position: relative;
    text-align: center;
    background: var(--bg_show_mock);
    min-height: 375px;

    .img-showmock {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
    }
  }
  .set-position {
    box-shadow: -1px 4px 11px 5px rgb(0 0 0 / 11%);
    right: 0;
    background: #ffffff;
    overflow: auto;
    margin-top: 20px;
    padding: 10;

    .card-expanding {
      box-shadow: -1px 4px 6px 9px rgb(0 0 0 / 11%);
      padding: 20px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .show-mock {
    position: relative;
    text-align: center;
    background: var(--bg_show_mock);
    min-height: 500px;

    .img-showmock {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
    }
  }
  .set-position {
    padding: 10px;
    width: 300px;
    overflow: hidden;
    position: fixed;
    right: 0;
    background: #ffffff;
    bottom: 50px;
    box-shadow: 0px 7px 12px 0px rgb(0 0 0 / 14%);
    z-index: 10;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    .card-expanding {
      padding: 20px;
      box-shadow: none;
    }
  }
}
.show-content {
  display: flex;
  justify-content: center;
}
.header-content {
  font-weight: bold;
}
.show-feature {
  .card-feature {
    padding: 20px;
    background: #cfcfcf;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    border-radius: 15px;
  }
  .feature {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffffff;
  }
}
.card-welcome {
  display: flex;
  justify-content: center;
  background: #cfcfcf;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  border-radius: 15px;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6;
}
.card-to-show {
  background-color: #eeeeee;
  margin-top: 40px;
}
.card-style {
  justify-content: center;
  .section-select {
    padding: 30px;
    justify-content: center;
    font-weight: bold;
  }
  .btn:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #ac89db;
  }
}
.icon_active {
  color: #4e2b83;
  font-weight: bolder;
}
.header-text {
  margin-top: 90px;
  font-weight: 600;
  position: relative;
}
.desktop,
.mobile {
  justify-content: center;
}
.size-col {
  padding: 18px;
  margin-bottom: 20px;
  font-size: 1.75rem;
  font-weight: bold;
}

.icon-size {
  width: 75px;
  height: auto;
}
.img-showtheme {
  cursor: pointer;
  max-height: 180px;
  width: auto;
}
.responsive {
  cursor: pointer;
}

.icon-back {
  width: 27px;
}
