@import "~bootstrap/scss/bootstrap.scss";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "kanit", sans-serif;
}
:root {
  --bg_color_header: white;
  --bg_show_mock: white;
}
.bg-main-page {
  background-image: url("https://image.smart-ai-api.com/public/image-storage/demo-template-sale/BG.jpg");
}
.bg-header {
  background: var(--bg_color_header);
}
.menu_header {
  box-shadow: 0px 4px 16px 0px #0000001a;
  z-index: 10;
  position: fixed;
  background: linear-gradient(180deg, rgb(239 225 245) 0%, rgb(255 255 255) 100%);
  top: 0;
  left: 0;
  right: 0;
  .header-show {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.bg-none {
  background: var(--bg_color_header);
  height: 126px;
}
.show-mock {
  text-align: center;
}

@include media-breakpoint-down(md) {
  .img-showmock {
    margin-top: 70px;
    width: 100%;
  }
  .btn-back {
    position: absolute;
    left: 5px;
    top: 0;
  }
  .menu {
    display: none;
  }
  .main-logo {
    height: 60px;
    padding: 5px;
    cursor: pointer;
  }
  .set-position {
    box-shadow: -1px 4px 11px 5px rgb(0 0 0 / 11%);
    right: 0;
    background: #ffffff;
    overflow: auto;
    margin-top: 20px;
    padding: 10;

    .card-expanding {
      box-shadow: -1px 4px 6px 9px rgb(0 0 0 / 11%);
      padding: 20px;
    }
  }
  .menu_mobile {
    filter: invert(1);
    .btn-mobile {
      cursor: pointer;
      height: 40px;
      width: auto;
    }
    .btn-close {
      cursor: pointer;
      height: 24px;
      width: auto;
    }
  }
  .menu_right_mobile {
    border-radius: 15px 0px 0 15px;
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    position: fixed;
    right: -1px;
    top: 15%;
    z-index: 10;
    font-size: 13px;
    img {
      width: 35px;
      height: auto;
    }
    .list_menu {
      cursor: pointer;
      background: linear-gradient(45deg, #7122ab, #572978);
      color: #fff;
      padding: 10px;
      width: 73px;
      height: 80px;
      text-align: center;
      a {
        text-decoration: none;
        color: #fff;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .active_menu_right {
      background: linear-gradient(45deg, #b98017, #f8ac22);
    }
    .list_menu:hover {
      background-color: #4e0a0a;
    }
  }
}
@include media-breakpoint-up(md) {
  .img-showmock {
    margin-top: 100px;
    width: 80%;
  }
  .menu_right_mobile {
    display: none;
  }
  .menu_mobile {
    display: none;
  }
  .btn-back {
    position: absolute;
    left: 40px;
    top: 0;
  }
  .menu {
    .btn-landing {
      background: linear-gradient(256.46deg, #5f009b -24.55%, #a90fc2 37.91%, #500873 95.86%);
      color: white;
      font-weight: bold;
      border-radius: 50px !important;
    }
    .btn-landing-seo {
      background: linear-gradient(262.35deg, #9b0054 -4.74%, #de08a2 43.9%, #a50879 85.6%);
      color: white;
      font-weight: bold;
      border-radius: 50px !important;
    }
    .btn-member {
      background: linear-gradient(259.13deg, #fff500 -9.97%, #ffc701 43.31%, #f7980b 92.75%);
      color: rgb(255, 255, 255);
      font-weight: bold;
      border-radius: 50px !important;
    }
    .btn-landing:hover,
    .btn-landing-seo:hover,
    .btn-member:hover {
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%) !important;
    }
    .active_menu {
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%) !important;
    }
  }
  .main-logo {
    height: 95px;
    padding: 10px;
  }

  .set-position {
    box-shadow: -1px 4px 11px 5px rgb(0 0 0 / 11%);
    right: 0;
    background: #ffffff;
    overflow: auto;
    margin-top: 20px;
    padding: 10;

    .card-expanding {
      box-shadow: -1px 4px 6px 9px rgb(0 0 0 / 11%);
      padding: 20px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .set-position {
    padding: 10px;
    width: 300px;
    overflow: hidden;
    position: fixed;
    right: 0;
    background: #ffffff;
    bottom: 50px;
    box-shadow: 0px 7px 12px 0px rgb(0 0 0 / 14%);
    z-index: 10;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    .card-expanding {
      padding: 20px;
      box-shadow: none;
    }
  }
}
.show-content {
  display: flex;
  justify-content: center;
}
.description {
  color: #4d4d4d;
}
.header-content-feature {
  font-weight: bold;
  color: #582a79;
}
.header-content {
  font-weight: bold;
}
.show-feature {
  .card-feature {
    padding: 20px;
    background-image: url("https://image.smart-ai-api.com/public/image-storage/demo-template-sale/bgcardfeature.png");
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 28%) !important;
    border-radius: 15px;
    background-size: 110% 110%;
    background-position: center;
  }
  .feature {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffffff;
  }
}
.card-welcome {
  display: flex;
  justify-content: center;
  background: #cfcfcf;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  border-radius: 15px;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6;
}
.card-to-show {
  background-color: #eeeeee;
  margin-top: 40px;
}
.card-style {
  justify-content: center;
  .section-select {
    padding: 30px;
    justify-content: center;
    font-weight: bold;
  }
  .btn:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #ac89db;
  }
}
.icon_active {
  color: #4e2b83;
  font-weight: bolder;
}
.header-text {
  margin-top: 90px;
  font-weight: 600;
  position: relative;
}
.desktop,
.mobile {
  justify-content: center;
}
.size-col {
  padding: 18px;
  margin-bottom: 20px;
  font-size: 1.75rem;
  font-weight: bold;
}

.icon-size {
  width: 75px;
  height: auto;
}
.img-showtheme {
  cursor: pointer;
  max-height: 180px;
  width: auto;
}
.responsive {
  cursor: pointer;
}

.icon-back {
  width: 27px;
}
