@import "~bootstrap/scss/bootstrap.scss";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "kanit", sans-serif;
}
:root {
  --bg_color_header: #f3f3f3;
  --bg_show_mock: linear-gradient(#f3f3f3, #cfcfcf);
}

.bg-header {
  background: var(--bg_color_header);
}
.menu_header {
  z-index: 10;
  position: fixed;
  background: var(--bg_color_header);
  top: 0;
  left: 0;
  right: 0;
  .header-show {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
}

.bg-none {
  background: var(--bg_color_header);
  height: 126px;
}
.show-mock {
  position: relative;
  text-align: center;
  background: var(--bg_show_mock);
  min-height: 560px;

  .img-showmock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}
@include media-breakpoint-down(md) {
  .menu {
    display: none;
  }
  .main-logo {
    height: 80px;
    padding: 10px;
    cursor: pointer;
  }
  .show-mock {
    position: relative;
    text-align: center;
    background: var(--bg_show_mock);
    min-height: 175px;

    .img-showmock {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
    }
  }
}
@include media-breakpoint-up(md) {
  .menu {
    .btn-landing {
      background: linear-gradient(#350974, #4f2b83);
      color: white;
      padding: 10px !important;
      font-weight: bold;
      border-radius: 15px !important;
    }
    .btn-landing-seo {
      background: linear-gradient(#4c4c4c, #838383);
      color: white;
      padding: 10px !important;
      font-weight: bold;
      border-radius: 15px !important;
    }
    .btn-member {
      background: linear-gradient(#f39200, #ffdb77);
      color: rgb(0, 0, 0);
      font-weight: bold;
      padding: 10px !important;
      border-radius: 15px !important;
    }
    .btn-landing:hover,
    .btn-landing-seo:hover,
    .btn-member:hover {
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%) !important;
    }
  }
  .main-logo {
    height: 95px;
    padding: 10px;
  }
  .show-mock {
    position: relative;
    text-align: center;
    background: var(--bg_show_mock);
    min-height: 375px;

    .img-showmock {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
    }
  }
}
@include media-breakpoint-up(lg) {
  .show-mock {
    position: relative;
    text-align: center;
    background: var(--bg_show_mock);
    min-height: 600px;

    .img-showmock {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
    }
  }
}
.show-content {
  display: flex;
  justify-content: center;
}
.header-content {
  font-weight: bold;
}
.show-feature {
  .card-feature {
    padding: 20px;
    background: #cfcfcf;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    border-radius: 15px;
  }
  .feature {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffffff;
  }
}
.card-welcome {
  display: flex;
  justify-content: center;
  background: #cfcfcf;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  border-radius: 15px;
}
